{% extends "baseofhtml.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<div class="cards">

<div class="card">
<i class="fas fa-temperature-high"></i>
<h2>29°C</h2>
<p>Temperature</p>
</div>

<div class="card">
<i class="fas fa-droplet"></i>
<h2>68%</h2>
<p>Soil Moisture</p>
</div>

<div class="card">
<i class="fas fa-cloud-rain"></i>
<h2>75%</h2>
<p>Humidity</p>
</div>

<div class="card">
<i class="fas fa-faucet"></i>
<h2>ON</h2>
<p>Motor Status</p>
</div>

</div>

<div class="welcome">

<h2>🌾 Smart Agriculture Dashboard</h2>

<p>
Monitor weather, soil moisture,
crop recommendation and irrigation
system in real time.
</p>

</div>

{% endblock %}