{% extends "baseofhtml.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<div class="container mt-5">

    <div class="text-center">
        <h1>🌾 Automatic Agriculture Monitoring System</h1>

        <p class="lead">
            Smart Farming Dashboard
        </p>
    </div>

    <div class="card shadow mt-4">
        <div class="card-body">

                           <h3>👨‍🌾 Farmer Overview</h3>

                                           <p><b>Name:</b> Varad Kotkar</p>
                                           <p><b>Status:</b> Active</p>
                                           <p><b>Location:</b> Maharashtra</p>
                                           <p><b>Crop:</b> Soybean</p>
                                           <p><b>Crop Yield:</b> 1200 Kg</p>

        </div>
    </div>
</div>

{% endblock %}